<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoPerfil.png" class="img-fluid" id="fotoPerfil"><img>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h3 id="nombre">Antonio Toledo</h3>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sed vero rem molestiae quibusdam similique
        aliquam, autem nisi totam commodi non dolorem est repellat, modi aut minus earum optio esse!</p>
    </span>
  </div>
</div>
