<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Educación 1</h2>
        <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa minus velit tenetur tempora omnis
          atque quis ex nostrum aspernatur impedit autem sunt, veritatis labore maiores exercitationem ad iure fugiat.
        </p>
      </li>
      <li>
        <h2>Educación 2</h2>
        <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa minus velit tenetur tempora omnis
          atque quis ex nostrum aspernatur impedit autem sunt, veritatis labore maiores exercitationem ad iure fugiat.
        </p>
      </li>
      <li>
        <h2>Educación 3</h2>
        <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa minus velit tenetur tempora omnis
          atque quis ex nostrum aspernatur impedit autem sunt, veritatis labore maiores exercitationem ad iure fugiat.
        </p>
      </li>
    </ul>
  </div>
</div>
