<h2>Hard & Soft skills</h2>
<div class="row">
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/html.png'" [showImage]="true"
      [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="13"
      [innerStrokeWidth]="8" [outerStrokeColor]="'#F77E21'" [innerStrokeColor]="'grey'" [animation]="true"
      [animationDuration]="300" [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/CSS.png'" [showImage]="true"
      [imageWidth]="65" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="13"
      [innerStrokeWidth]="8" [outerStrokeColor]="'#0876ff'" [innerStrokeColor]="'grey'" [animation]="true"
      [animationDuration]="300" [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/js.png'" [showImage]="true"
      [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="13"
      [innerStrokeWidth]="8" [outerStrokeColor]="'yellow'" [innerStrokeColor]="'grey'" [animation]="true"
      [animationDuration]="300" [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/node.png'" [showImage]="true"
      [imageWidth]="50" [imageHeight]="50" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="13"
      [innerStrokeWidth]="8" [outerStrokeColor]="'#88F02C'" [innerStrokeColor]="'grey'" [animation]="true"
      [animationDuration]="300" [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/github.png'" [showImage]="true"
      [imageWidth]="90" [imageHeight]="90" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="13"
      [innerStrokeWidth]="8" [outerStrokeColor]="'black'" [innerStrokeColor]="'grey'" [animation]="true"
      [animationDuration]="300" [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/scrum.png'" [showImage]="true"
      [imageWidth]="80" [imageHeight]="80" [showUnits]="false" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
      [outerStrokeColor]="'#07C5F5'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="300"
      [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/java.png'" [showImage]="true"
      [imageWidth]="90" [imageHeight]="90" [showUnits]="false" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
      [outerStrokeColor]="'orange'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="300"
      [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/csharp.png'" [showImage]="true"
      [imageWidth]="80" [imageHeight]="80" [showUnits]="false" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
      [outerStrokeColor]="'purple'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="300"
      [backgroundColor]="'white'"></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="85" [imageSrc]="'../assets/icons/sql.png'" [showImage]="true"
      [imageWidth]="95" [imageHeight]="80" [showUnits]="false" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
      [outerStrokeColor]="'#608eff'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="300"
      [backgroundColor]="'white'"></circle-progress>
  </div>
</div>
